doctype html
html
  head
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    title= "Candice's Phasmophobia Evidence Tracker"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
